

<nav>
  <span id="logo">schoodle &#x270F;</span>
  <div class="calendar-logo">
    <!-- <img src=" path to image here" alt="Calendar Logo"> -->
  </div>
  <div class="dropdown">
    <button class="dropbtn">menu</button>
    <div class="dropdown-content">
      <a href="#">Option 1</a>
      <a href="#">Option 2</a>
      <a href="#">Option 3</a>
    </div>
  </div>
</nav>
